# Node modules folder
node_modules/

# Compiled distribution files
dist/

# Logs
*.log
npm-debug.log*

# Temporary files
.DS_Store
Thumbs.db

# Webpack cache
.cache/

# IDE-specific files (if you're using one)
.vscode/
.idea/

# Miscellaneous system files
*.swp
*.swo
