/* styles.css */
@import url('https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@300..900&family=Karla:ital,wght@0,200..800;1,200..800&display=swap');
:root {
  --white-smoke: #f4fbf5;
  --black-russian: #24252c;

  /* Text */
  --off-black: #333333;
  --white: #FFFFFF;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: "Karla", sans-serif;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
  font-family: "Karla", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  font-family: "Frank Ruhl Libre", serif;
}

p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

header {
    width: min(100 - 1px, 375px);
}

.logo--text {
    font-family: "Frank Ruhl Libre", serif;
    font-size: 3rem;
    color: var(--white-smoke);
}

.hamburger--menu {
    display: flex;
    background-color: transparent;
}

.home--buttons {
    display: none;
    background-color: transparent;
}

.nav__container {
    position: absolute;
    top: 0;
    left: 50%; 
    transform: translateX(-50%);
    width: min(100% - 2rem, 375px);
    padding: 1.25rem;
    background-color: transparent;
    display: flex;
    align-items: center; 
    justify-content: space-between; 
    z-index: 10;
}

.nav__container a {
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    margin: 0 1rem;
}

.hero-section {
    height: 100vh;
    background-image: url(./assets/food-1.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

button {
    border: none;
    padding: 1rem 1.5rem;
    font-size: 1rem;
    background-color: transparent;
    text-transform: uppercase;
    cursor: pointer;
    color: #FFF;
}

.hero__container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  height: 100vh;
}

.hero__btn__container {
  box-shadow: 1px 1px 20px 2px var(--black-russian);
  border: 3px solid var(--white);
  border-radius: 50%;
  position: absolute;
  bottom: 15px;
}

.hero__content {
  text-align: center;
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.separator {
  height: 1px;
  width: 100px;
  margin: 2rem;
  border: 2px solid var(--white);
}

.hero__title {
  font-size: 2.2rem;
  font-weight: 400;
}

.hero__paragraph {
  font-size: 1.65rem;
  text-transform: uppercase;
}

@media (min-width: 767px) {

    header {
       
        margin: 0 auto;
    }

    .nav__container {
        width: min(100% - 2rem, 1440px);
        .hamburger--menu {
            display: none;
        }

        .home--buttons {
            display: block;
        }
    }
      
}
