/* styles.css */
@import url("https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@300..900&family=Karla:ital,wght@0,200..800;1,200..800&display=swap");
:root {
  --white-smoke: #f4fbf5;
  --black-russian: #24252c;

  /* Text */
  --off-black: #333333;
  --white: #ffffff;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: "Karla", sans-serif;
  background-color: var(--white-smoke);
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
  font-family: "Karla", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  font-family: "Frank Ruhl Libre", serif;
}

p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

ul li {
  list-style-type: none;
  color: var(--white);
}

a {
  text-decoration: none;
  color: var(--white);
}

.logo--text {
  font-family: "Frank Ruhl Libre", serif;
  font-size: 3rem;
  color: var(--white-smoke);
}

.hamburger--menu {
  display: flex;
  background-color: transparent;
}

.home--buttons {
  display: none;
  background-color: transparent;
}

.nav__container,
.content__container {
  width: min(100% - 2rem, 375px);
  display: flex;
  align-items: center;
  margin: 0 auto;
}

.content__container {
  flex-direction: column;
}

.nav__container {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);

  padding: 1.25rem;
  background-color: transparent;
  justify-content: space-between;
  z-index: 10;
}

.nav__container a {
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
  margin: 0 1rem;
}

.hero-section {
  height: 100vh;
  background-image: url(./assets/food-1.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

button {
  border: none;
  padding: 1rem 1.5rem;
  font-size: 1rem;
  background-color: transparent;
  text-transform: uppercase;
  cursor: pointer;
  color: #fff;
}

.hero__container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  height: 100vh;
}

.hero__btn__container {
  box-shadow: 1px 1px 20px 2px var(--black-russian);
  border: 3px solid var(--white);
  border-radius: 50%;
  position: absolute;
  bottom: 15px;
}

.hero__btn__container:hover {
  transform: scale(0.75);
  transition: transform 200ms ease-out;
}

.hero__content {
  text-align: center;
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.separator {
  height: 1px;
  width: 100px;
  margin: 2rem;
  border: 2px solid var(--white);
}

.hero__title {
  font-size: 2.2rem;
  font-weight: 400;
}

.hero__paragraph {
  font-size: 1.65rem;
  text-transform: uppercase;
}

.content-section {
  background-color: var(--white-smoke);
}

.content__card {
  background-color: var(--white);
  margin: 2rem 0;
  padding: 2rem;
}

.content__image--container {
  display: none;
}

.text-content__title {
  font-weight: 400;
  text-transform: uppercase;
  padding: 1rem;
  font-size: 1.25rem;
}

.text-content__para {
  padding: 1rem;
  font-weight: 400;
}

.text-content__btn {
  border-bottom: 1px solid var(--black-russian);
  color: var(--off-black);
  padding: 0;
  margin: 1rem;
}

.text-content__btn:hover {
  transform: scale(1.1);
  transition: transform 300ms ease-in-out;
}

.footer {
  background-color: var(--black-russian);
}

.footer__container {
  padding: 5rem;
}

.info-list__title {
  text-transform: uppercase;
  padding: 1.5rem 0;
}

.social__list {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .info-list__item {
    font-size: 1.5rem;
  }
}

@media (min-width: 750px) {

  .list__container {
    display: grid;
    grid-template-columns: repeat(2, minmax(100px, 1fr));
    gap: 1rem;
  }
}

@media (min-width: 900px) {
  .nav__container,
  .content__container,
  .footer__container {
    width: min(100% - 2rem, 1170px);
    margin: 0 auto;
  }

  .nav__container {
    .hamburger--menu {
      display: none;
    }

    .home--buttons {
      display: block;
    }
  }

  .content__container {
    padding-top: 5rem;
    margin-bottom: 5rem;
  }

  .content__card {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5rem;
    width: 75%;
  }

  .content__card:nth-child(2){
    flex-direction: row-reverse;

    .content__image--container {
      img {
        margin-left: 50%;
      }
    }
  }

  .content__image--container {
    display: block;
    width: 65%;
    img {
      margin-left: -50%;
      transform: translateY(20%);
    }
  }

  .text-content {
    width: 100%;
  }
  
  .text-content__para {
    font-size: 2rem;
  }

  .list__container {
    display: grid;
    grid-template-columns: repeat(4, minmax(150px, 1fr));
    gap: 1rem;
  }

  .social__list {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .info-list__item {
      font-size: 1.5rem;
    }
  }

  .footer__container {
    padding: 6rem 0;
  }
}
